<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <script>
        function admin(obj) {
    if (obj.checked) {

        document.getElementById('InputAdministrador').style.display = "";
    } else {

        document.getElementById('InputAdministrador').style.display = "none";
    }
}

function asesor(obj) {
    if (obj.checked) {

        document.getElementById('InputAsesor').style.display = "";
    } else {

        document.getElementById('InputAsesor').style.display = "none";
    }
}


function operador(obj) {
    if (obj.checked) {

        document.getElementById('InputOperador').style.display = "";
    } else {

        document.getElementById('InputOperador').style.display = "none";
    }
}


function analista(obj) {
    if (obj.checked) {

        document.getElementById('InputAnalista').style.display = "";
    } else {

        document.getElementById('InputAnalista').style.display = "none";
    }
}

function supervisor(obj) {
    if (obj.checked) {

        document.getElementById('InputSupervisor').style.display = "";
    } else {

        document.getElementById('InputSupervisor').style.display = "none";
    }
}

    </script>




      ````````````````````````````````````````<h4 class="mt-5 mb-4"><strong>Labores</strong></h4>


                                                    </div>

                                                            <!--inputs show-->
                                                    <div style="display: none;" id="InputAsesor" class="input-hidden">
                                                        <div class="form-text mt-4">Candidad Asesor</div>
                                                        <div class="input-group mb-3">
                                                            <input type="Number" class="form"
                                                                placeholder="Unidades Administrador" aria-label="Username"
                                                                aria-describedby="basic-addon1" value="" name="n_asesor">
                                                        </div>
                                                    </div>
                                                    <!--inputs show-->

                                                    <!--inputs show-->
                                                    <div style="display: none;" id="InputOperador" class="input-hidden">
                                                        <div class="form-text mt-4">Candidad Operador</div>
                                                        <div class="input-group mb-3">
                                                            <input type="Number" class="form"
                                                                placeholder="Unidades Operador" aria-label="Username"
                                                                aria-describedby="basic-addon1" value="" name="n_operador">
                                                        </div>
                                                    </div>
                                                    <!--inputs show-->


                                                    <!--inputs show-->
                                                    <div style="display: none;" id="InputAnalista" class="input-hidden">
                                                        <div class="form-text mt-4">Candidad Analista</div>
                                                        <div class="input-group mb-3">
                                                            <input type="Number" class="form"
                                                                placeholder="Unidades Analista" aria-label="Username"
                                                                aria-describedby="basic-addon1" value="" name="n_analista">
                                                        </div>
                                                    </div>
    
</body>
</html>